.productCategorySection {
    padding-top: 50px;
    // display: grid;
    // grid-template-rows: repeat(4, minmax(0, 1fr));
    // grid-auto-flow: row;

    // display: flex;
    // flex-direction: row;
    // // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // gap: 10px;
}

.productBucketBoxSectionTitle {
    padding-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.productBucketBoxSection {
    padding-top: 50px;
    // padding-bottom: 50px;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // gap: 10px;
    // flex-wrap: wrap;
}

.slick-prev:before
{
    content: url('img/leftArrow.png');
}

.slick-next:before {
    content: url('img/rightArrow.png');
}