.productCategorySection {
    padding-top: 50px;
    margin: 0 10px 0 13px;
}

.productBucketBoxSectionTitle {
    padding-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.productBucketBoxSection {
    padding-top: 50px;
    margin: 0 10px 0 13px;
}

.slick-prev:before
{
    content: url('img/leftArrow.png');
}

.slick-next:before {
    content: url('img/rightArrow.png');
}