.backBtn {
    border-radius: 50px;
    border: none;
    padding: 7px 20px;

    .title {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
    }
}


.backBtnType1 {
    background-color: #FFB800;
    color: black;
}
.backBtnType2 {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 991px) {
    .backBtn {
        .title {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .backBtn {
        .title {
            font-size: 14px;
        }
    }
}